<h2>Create Key</h2>
<form method="POST" action="/new">
  <input type=text name=repository style="padding:5px;" placeholder="Repo (bencevans/HNCache)">
  <input type=submit value="Create Key">
</form>
<h2>Keys</h2>
<div class=keycontainer>
  {{#keys}}
  <table>
    <tr>
      <td>Repository:</td>
      <td><a href="https://github.com/{{repository}}">{{repository}}</a></td>
    </tr>
    <tr>
      <td>Access Key:</td>
      <td>{{_id}}{{secret}} <a href="/{{_id}}/delete">Delete</a></td>
    </tr>
  </table>
  {{/keys}}
</div>
