<h2>Create Key</h2>
<form method="POST" action="/new">
  <input type=text name=repository style="padding:5px;" placeholder="Repo (bencevans/HNCache)">
  <input type=submit value="Create Key">
</form>
<h2>Keys</h2>
<div class=keycontainer>
  <table>
    <tr>
      <td>Repository:</td>
      <td><a href="https://github.com/bencevans">bencevans/test</a></td>
    </tr>
    <tr>
      <td>Access Key:</td>
      <td>uayvf8wyb97ry9woancur</td>
    </tr>
    <tr>
      <td>Access Secret:</td>
      <td>ovisuanr94wa048rcw0riaw0m9ei3wxa3o9n8</td>
    </tr>
  </table>
</div>
