<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{#title}}{{title}} | {{/title}}FacePalm Error Reporter</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <div class=container>
      <a class="goright" href="/logout">Logout</a>
      <a href="{{user.html_url}}"><img class="goright gravatar" src="http://www.gravatar.com/avatar/{{user.gravatar_id}}?s=80&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" height=36 width=36></a></a>
      <h1>FacePalm</h1>
    </div>
  </header>
  <div class=container id="content">
    {{{body}}}
  </div>
</body>
</html>